---
layout: default
---
<style>
    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    
    .button1 {background-color: #f37e20;} /* Organge */
    </style>
    
<header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

  </header>
  
  <div class="post-content e-content" itemprop="articleBody">

    <p>Thank you for your interest in joining the Two-Day School on AI and Law!</p>
    
    <h3>Registration Fee:</h3>
    <ul>
        <li>Offline Participant: 750 INR</li>
        <li>Online Participant: 500 INR</li>
    </ul>

    <p>Registration fee includes access to all sessions, panel discussions, and lun
    <ul>
    <li>Payment Instructions:</li>
    <ul>
        <li>Pay the registration fee before filling out the registration form.</li>
        <li>A unique Payment ID/Transaction ID will be generated upon payment, which must be mentioned in the registration form.</li>
    </ul>

    <li>Confirmation:</li>
    <ul>
        <li>Upon verification of your Payment ID/Transaction ID, you'll receive a confirmation email and payment receipt within five working days.</li>
        <li>Contact us at <a href="mailto:dactl_events@daiict.ac.in">dactl_events@daiict.ac.in</a> if you do not receive confirmation within the stipulated period.</li>
    </ul>

    <li>Note:
    Fees once paid are non-refundable.</li>
    </ul>
<hr>

    <h3>Step 1</h3>

    <!-- Payment Button (Link this to your Easypay or chosen payment gateway) -->
    <a href="https://eazypay.icicibank.com/eazypayLink?P1=r+Ng5xjj7ICaXTTroOSFxg==" target="_blank">
        <button class="button button1">Pay Registration Fee ₹750</button>
    </a>

    <a href="https://eazypay.icicibank.com/eazypayLink?P1=r+Ng5xjj7ICaXTTroOSFxg==" target="_blank">
        <button class="button button1">Pay Registration Fee ₹500</button>
    </a>


    <h3>Step 2</h3>
    <p>After making the payment, please fill out the registration form below:</p>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe9bmgdPv2DACkejHN9o_umWuoRYmtp6Swc1qnJjVlOkhRiDA/viewform?embedded=true" width="640" height="1370" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>